<style>
  .modal-content {
    background-color: #212121;
    color: white;
  }
</style>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal-{{item.id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{{item.description}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="purchaseModal-{{item.id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{item.name}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <form method="post">
            {{purchase_form.hidden_tag()}}
          <h4>
            Are you sure you want to purchase {{item.name}} for {{item.price}}$
          </h4>
          <br>
          <h6>
              By Clicking Purchase You will Purchase this Item.
          </h6>
          <br>
          <input id="purchased-item" name="purchased-item" type="hidden" value="{{item.name}}">
          {{purchase_form.submit(class="btn btn-outline-success ")}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
